@font-face {
  font-family: "JetBrains Mono Custom";
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "JetBrains Mono Custom";
  src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: 700;
}

.monaco-editor, .monaco-editor * {
  font-family: "JetBrains Mono Custom" !important;
}