@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1c1c;
}

body > header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #161616dc;
    padding: 0 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

body > header > .title > .name {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 600;
}

body > header > .title {
    display: flex;
    align-items: center;
    gap: 7.5px;
}

body > header > .title > .logo {
    width: 30px;
    height: 30px;
}

body > header > .bot-button {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 7.5px;
    background-color: #0f0f0f;
    border: none;
    border-radius: 25px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 600;
    transition: background-color 0.3s;
}

body > header > .bot-button:hover {
    background-color: #ffffff;
    color: #000000;
}

body > header > .bot-button:hover > .bot-logo {
    filter: invert(1);
}

body > header > .bot-button > .bot-logo {
    width: 20px;
    height: 20px;
}

body > header > .title > .ch-link {
    color: #ffffff;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    transition: color 0.3s;
}

body > header > .title > .ch-link:hover {
    color: #aaa
}

body > main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    margin-top: 30px;
    text-align: center;
    background-image: url("../images/hero-banner.png");
    background-size: cover;
    width: 100vw;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    transform: translateX(-50%)
}

.main-title {
    margin-top: 70px;
    font-family: "JetBrains Mono", monospace;
    font-size: 35px;
    color: #fff;

    display: inline-block;
    white-space: nowrap;
    overflow: hidden;

    border-right: 3px solid #fff;
    width: 0;

    animation: typing 4s steps(67, end) forwards,
               blink 0.8s step-end 4s 3;
}

@keyframes typing {
    from { width: 0 }
    to { width: 67ch }
}

@keyframes blink {
    50% { border-color: transparent }
}

.subtitle {
    font-family: "Montserrat", sans-serif;
    color: #fef;
    font-size: 20px;
    margin-top: 20px;

    opacity: 0;
    transform: translateY(15px);

    animation: showSubtitle 1s ease forwards;
    animation-delay: 4s; /* ЖДЁМ КОНЕЦ ПЕЧАТИ */
}

@keyframes showSubtitle {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}